# Object files
*.o
*.pyc

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.hex
*.bin
*.elf
*.map

.DS_Store

# Dolphin file manager
.directory

#Kate
.kate-swp

*~

build/*

localconfig.mk