Carson Katri <Carson.katri@gmail.com>
crc32 <england.thomas.gameexcellence@gmail.com>
crc32 <thomas.c.england@fallibroome.org.uk>
crc32 <thomas.c.england@gmail.com>
Johannes Neubrand <jneubrand@users.noreply.github.com>
Rich Murphey <rich@murphey.org>
Chris Multhaupt <Stubenhocker1399@gmail.com>
